<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="ApiTest.Post_LoginTest"/>
<class name="ApiTest.Get_UserOTPMessage"/>
<class name="ApiTest.Post_ValidateOTPMessageTest"/>

      <class name="ApiTest.Get_UserProfile"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
